.container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 25px;
}
.logo-image {
  max-width: 120px;
  width: 100%;
  height: auto;
  
}
nav{
  background-color: #fff;
  margin: 0;
  color: #060606;
  width: 100%;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #1ba9e1;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}
nav ul li a {
  position: relative; 
  display: inline-block;
}
nav ul li a::after {
  content: '';
  position: absolute;
  width: 0; 
  height: 2px;
  background-color: #1ba9e1; 
  bottom: -5px; 
  left: 0; 
  transform: translateX(0);
  transition: width 0.3s ease-out;
}

nav ul li a:hover::after {
  width: 100%; 
}
