*,
*::before,
*::after {
  box-sizing: border-box; 
  
}

body,
html {
  background: #fff;
  margin: 0;
  padding: 0;
  


}


.btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.btn:hover::after {
  left: 0;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #1ba9e1;
}



