.logincontainer form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;



}

h1{
    text-align: center;
    margin: 10px;
    color: #004aad;
}

.box {
    min-height: 100vh;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    

}

.inputgroup{
    display: flex;
    flex-direction: column;
    margin: 10px;
   
    
}
input:focus{
    outline: none;
   
}
label{
   margin-bottom: 8px;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.587);
}
input[type="email"],input[type="password"]{
    width: 100%;
    
    font-size: 16px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

   

}
button{
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
    
    
}
button:hover{
    transform: translatey(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.345);
}
.footer{
    display: flex;
    
    
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.footer a{
    transition: all 0.2s ease-in-out;
    font-size: 15px;
}
.footer a:hover{
    color: rgb(86, 105, 246);
}